@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
  }

  :root {
    --primary-color: 77 141 226;
    --secondary-color: 51 51 51;
    --tip-color: 255 184 41;
    --success-color: 0 168 112;
    --warn-color: 237 123 47;
    --error-color: 227 77 89;
    --info-color: 77 141 226;
    --black-color: 0 0 0;
    --white-color: 255 255 255;
  }
}
